body {
  background-image: url("./images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 98%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-size: 190vh;
  margin: 0;
}

.background_rectangle {
  background-color: hsl(225, 100%, 98%);
  width: 100vw;
  height: 42.5vh;
  position: fixed;
  bottom: 0%;
  z-index: -1;
}

.main_constainer {
  width: 28rem;
  height: 43rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 0px 10px 50px hsl(224, 23%, 55%, 0.3);
}
.main_photo {
  background-image: url(./images/illustration-hero.svg);
  width: 28rem;
  height: 13.7rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.8rem;
}

.order {
  font-size: 1.7rem;
  font-weight: 900;
  margin: 0;
}

.order p {
  margin: 0 0 1.5rem 0;
}
.article {
  margin: 0 3rem;
  text-align: center;
  line-height: 1.54rem;
}
.article p {
  font-size: 0.8rem;
  margin: 0;
  color: hsl(224, 23%, 55%);
  font-weight: 800;
  letter-spacing: 0.01rem;
}
.table {
  background-color: hsl(225, 100%, 98%);
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}
.music_photo {
  background-image: url("./images/icon-music.svg");
  width: 44px;
  height: 44px;
  background-size: cover;
  margin: 1.5rem;
}
.plan_and_price_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plan {
  font-weight: 900;
  margin: 0.2rem 0;
  font-size: 0.95rem;
}
.price {
  font-size: 0.95rem;
  color: hsl(224, 23%, 55%);
  font-weight: 600;
  margin: 0.2rem 0;
}
.change {
  font-size: 0.9rem;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 5rem;
}
.change:hover {
  color: hsl(224, 23%, 55%);
}
.button {
  background-color: hsl(245, 75%, 52%);
  padding: 0;
  width: 100%;
  height: 3.5rem;
  color: hsl(0, 0%, 100%);
  font-weight: 800;
  border-radius: 0.8rem;
  border: 1px solid hsl(225, 100%, 98%);
  margin: 1rem 0;
  box-shadow: 0px 10px 4px hsl(225, 100%, 98%);
  font-size: 0.8rem;
}

.button:hover {
  background-color: hsl(224, 23%, 55%);
}
.cancel {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  margin: 1rem 0;
  font-size: 0.8rem;
}
.cancel:hover {
  color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 375px) {
  body {
    background-image: none;
    background-color: hsl(225, 100%, 98%);
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .background_rectangle {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.6rem;
  }

  .main_constainer {
    width: 20rem;
    height: 35rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    margin: 0 10px;
    box-shadow: 0px 10px 50px hsl(224, 23%, 55%, 0.3);
  }
  .main_photo {
    background-image: url(./images/illustration-hero.svg);
    width: 20rem;
    height: 10rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    z-index: 1;
    background-size: cover;
  }

  .order {
    font-size: 1.4rem;
    font-weight: 900;
    margin: 0;
  }

  .order p {
    margin: 0 0 0.7rem 0;
  }
  .article {
    margin: 0.4rem 0.4rem;
    text-align: center;
    line-height: 1.5rem;
  }
  .article p {
    font-size: 0.8rem;
    margin: 0;
    color: hsl(224, 23%, 55%);
    font-weight: 800;
    letter-spacing: 0rem;
  }
  .table {
    background-color: hsl(225, 100%, 98%);
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
  }
  .music_photo {
    background-image: url("./images/icon-music.svg");
    width: 44px;
    height: 44px;
    background-size: cover;
    margin: 1rem;
  }
  .plan_and_price_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .plan {
    font-weight: 900;
    margin: 0.1rem 0;
    font-size: 0.8rem;
  }
  .price {
    font-size: 0.8rem;
    color: hsl(224, 23%, 55%);
    font-weight: 600;
    margin: 0.1rem 0;
  }
  .change {
    font-size: 0.8rem;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 2.5rem;
  }

  .button {
    background-color: hsl(245, 75%, 52%);
    padding: 0;
    width: 100%;
    height: 3.2rem;
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    border-radius: 0.8rem;
    border: 1px solid hsl(225, 100%, 98%);
    margin: 1rem 0;
    box-shadow: 0px 10px 4px hsl(225, 100%, 98%);
    font-size: 0.8rem;
  }

  .cancel {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    margin: 1rem 0;
    font-size: 0.8rem;
  }
}
