body {
  background-color: hsl(233, 47%, 7%);
  margin: 0;
}

.main {
  width: 100vw;
  height: 30vw;
  background-color: hsl(244, 38%, 16%);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
