body {
  background-color: hsl(47, 88%, 63%);
  font-size: 11px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0%;
}
.card {
  background-color: hsl(0, 0%, 100%);
  width: 375px;
  height: 470px;
  border-radius: 15px;
  border-style: ridge;
  border-color: hsl(0, 0%, 0%);
  box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
  border-width: 1px;
}

.main {
  width: 335px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 20px;
  padding: 0;
}

.photo {
  background-image: url("./assets/images/illustration-article.svg");
  width: 336px;
  height: 201px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  margin: 0 0 7.5px 0;
  padding: 0;
}

.Lear {
  background-color: hsl(47, 88%, 63%);
  width: 65px;
  height: 20px;
  padding: 0;
  margin: 7.5px 0 7.5px 0;
  border-radius: 2px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}
.Pub {
  font-size: 12px;
  font-weight: 500;
  margin: 7.5px 0 7.5px 0;
  color: hsl(0, 0%, 7%);
}
p {
  margin: 0;
}

.H_and_C {
  color: hsl(47, 88%, 63%);
  font-size: 22px;
  margin: 7.5px 0 7.5px 0;
  font-weight: 800;
}

.text {
  font-size: 15px;
  text-align: left;
  margin: 7.5px 0 7.5px 0;
  color: hsl(0, 0%, 50%);
  font-weight: 500;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0 8px 0;
}

.photo_G {
  background-image: url("./assets/images/image-avatar.webp");
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  margin: 5px 5px 5px 0;
}
.name {
  font-size: 12px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}

@media screen and (max-width: 375px) {
  body {
    margin: 0%;
  }
  .card {
    width: 300px;
    height: 440px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    border-width: 1px;
    position: static;
  }
  .main {
    width: 260px;
    height: 400px;
  }
  .H_and_C {
    color: hsl(0, 0%, 7%);
    font-size: 18px;
  }

  .photo {
    width: 260px;
    height: 180px;
  }
  .Lear {
    width: 65px;
    height: 25px;
    border-radius: 5px;
  }

  .text {
    font-size: 12px;
  }

  .user {
    margin-bottom: 0;
  }
}
