body {
  margin: 0;
  background-color: blueviolet;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  width: 800px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}
