:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark_Blue: hsl(249, 10%, 26%);
  --Grayish_Blue: hsl(246, 25%, 77%);
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: var(--Red);
  background-image: url("./images/bg-intro-desktop.png");
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: row;
  width: 1100px;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  word-spacing: 2px;
}

.input_inside {
  margin: 10px;
  padding: 0;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
}

input {
  font-weight: 800;
  height: 80px;
  display: block;
  width: 100%;
  padding: 0.5rem;
  outline: none;
}

input:focus {
  border: 2px solid rgb(106, 106, 106);
}

.error_photo {
  width: 28px;
  height: 28px;
  background-image: url("./images/icon-error.svg");
  background-size: cover;
  background-position: center;
  border: 0px solid rgba(255, 255, 255, 0);
  padding: 1px;
  margin: 0;
  outline: none;
  z-index: 1;
  background-repeat: no-repeat;
  position: absolute;
  top: 26px;
  left: 400px;
  display: none;
}

.error_test {
  color: red;
  padding: 0;
  margin: 0 25px 0 0;
  font-size: 10px;
  font-style: italic;
  text-align: end;
  display: none;
}

/* input.error {
  border: 2px solid red; 
  background-color: #ffe6e6; 
} */

/* .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
} */

.left_side {
  display: flex;
  flex-direction: column;
  margin: 100px;
  color: white;
  font-size: 1.2rem 0 1.2rem 0;
}

.left_side p {
  font-size: 0.8rem;
}
.right_side {
  display: flex;
  flex-direction: column;
  /* padding: 400px; */
}
.try_btn {
  height: 50px;
  background-color: var(--Blue);
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  border: none;
}

.container {
  width: 500px;
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

.acces_btn {
  height: 60px;
  background-color: var(--Green);
  margin: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  border: 0;
}

.terms {
  margin: 0px;
  font-size: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color_red_01,
.color_red_02 {
  color: rgb(216, 116, 116);
}

.color_red_01 {
  position: absolute;
  top: 32px;
  left: 40px;
  font-weight: 700;
  display: none;
}
/* .............................. */
.name,
.surname,
.email,
.password {
  margin: 10px;
  height: 50px;
  border-radius: 5px;
  border: 0.1px solid gray;
}

.name:hover {
}

.name:active {
}

/* .............................. */

.surname:hover {
}

.surname:active {
}

/* .............................. */

.email:hover {
}

.email:active {
}

/* .............................. */

.password:hover {
}

.pasword:active {
}

/* .............................. */
