:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Dark_Blue: hsl(249, 10%, 26%);
  --Grayish_Blue: hsl(246, 25%, 77%);
}
_ * {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

.left_side {
  display: flex;
  flex-direction: column;
  padding: 200px;
  color: white;
}
.right_side {
  display: flex;
  flex-direction: column;
  padding: 200px;
}
.try_btn {
  height: 50px;
  background-color: var(--Grayish_Blue);
  margin-bottom: 10px;
  border-radius: 10px;
}
.container {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.acces_btn {
  height: 60px;
  background-color: var(--Green);
  margin-bottom: 10px;
  margin: 10px;
  border-radius: 5px;
}

.terms {
  margin: 10px;
}
/* .............................. */
.name {
  margin: 10px;
  height: 50px;
  border-radius: 5px;
}

.name:hover {
}

.name:active {
}

/* .............................. */
.surname {
  margin: 10px;
  height: 50px;
  border-radius: 5px;
}

.surname:hover {
}

.surname:active {
}

/* .............................. */
.email {
  margin: 10px;
  height: 50px;
  border-radius: 5px;
}

.email:hover {
}

.email:active {
}

/* .............................. */
.password {
  margin: 10px;
  height: 50px;
  border-radius: 5px;
}

.password:hover {
}

.pasword:active {
}

/* .............................. */
