:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Dark_Blue: hsl(249, 10%, 26%);
  --Grayish_Blue: hsl(246, 25%, 77%);
}
_ * {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

input {
  padding-left: 20px;
  font-weight: 800;
}

input:active {
  border: 2px solid rgb(106, 106, 106);
}

/* input.error {
  border: 2px solid red; 
  background-color: #ffe6e6; 
} */

/* .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
} */

.left_side {
  display: flex;
  flex-direction: column;
  padding: 500px;
  color: white;
  font-size: 1.2rem;
}

.left_side p {
  font-size: 0.8rem;
}
.right_side {
  display: flex;
  flex-direction: column;
  padding: 300px;
}
.try_btn {
  height: 50px;
  background-color: var(--Dark_Blue);
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
}

.container {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.acces_btn {
  height: 60px;
  background-color: var(--Green);
  margin-bottom: 10px;
  margin: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  border: 0;
}

.terms {
  margin: 10px;
  font-size: 10px;
}
/* .............................. */
.name,
.surname,
.email,
.password {
  margin: 10px;
  height: 50px;
  border-radius: 5px;
  border: 0.1px solid gray;
}

.name:hover {
}

.name:active {
}

/* .............................. */

.surname:hover {
}

.surname:active {
}

/* .............................. */

.email:hover {
}

.email:active {
}

/* .............................. */

.password:hover {
}

.pasword:active {
}

/* .............................. */
