body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
/* ......................................... */
.all_containers {
  width: 1200px;
  height: 650px;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  margin: 0;
}
/* ......................................... */
.left_conteiner {
  width: 400px;
  height: 650px;
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: cecter;
  align-items: start;
}
.round_area {
  margin: 3rem 5rem 3rem 3rem;
}
.left_photo {
  background-image: url("./images/icon-sedans.svg");
  width: 64px;
  height: 40px;
  background-size: cover;
}
.main_title_Sedans,
.main_title_SUVs,
.main_title_Luxury {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 3rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  margin: 3rem 0;
}
.text_Sedans,
.text_SUVs,
.text_Luxury {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  text-align: 1rem;
  line-height: 2rem;
  font-size: 1.2rem;
  margin: 3rem 0 8rem 0;
}
.button_Sedans,
.button_SUVs,
.button_Luxury {
  width: 10rem;
  height: 3rem;
  border: 0;
  border-radius: 2rem;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}
.button_Sedans {
  color: hsl(31, 77%, 52%);
}
.button_SUVs {
  color: hsl(184, 100%, 22%);
}
.button_Luxury {
  color: hsl(179, 100%, 13%);
}

/* ......................................... */
.middle_conteiner {
  width: 400px;
  height: 650px;
  background-color: hsl(184, 100%, 22%);
}
.middle_photo {
  background-image: url("./images/icon-suvs.svg");
  width: 64px;
  height: 40px;
  background-size: cover;
}

/* ......................................... */
.right_conteiner {
  width: 400px;
  height: 650px;
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.right_photo {
  background-image: url("./images/icon-luxury.svg");
  width: 64px;
  height: 40px;
  background-size: cover;
}

@media screen and (max-width: 375px) {
  .all_containers {
    width: 260px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
  }

  .left_conteiner,
  .middle_conteiner,
  .right_conteiner {
    width: 260px;
    height: 360px;
  }

  .left_conteiner {
    border-top-left-radius: inherit;
    border-bottom-left-radius: 0;
    border-top-right-radius: inherit;
  }
  .main_title_Sedans,
  .main_title_SUVs,
  .main_title_Luxury {
    margin: 1.5rem 0;
    font-size: 2rem;
  }

  .text_Sedans,
  .text_SUVs,
  .text_Luxury {
    margin: 1rem 0 8rem 0;
    font-size: 0.5rem;
    line-height: 1.4rem;
    font-weight: 300;
  }

  .right_conteiner {
    border-top-left-radius: 0;
    border-bottom-left-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: inherit;
  }

  .left_photo,
  .middle_photo,
  .right_photo {
    width: 40px;
    height: 25px;
    margin: 1.5rem 0;
  }

  .text_Sedans,
  .text_SUVs,
  .text_Luxury {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .button_Sedans,
  .button_SUVs,
  .button_Luxury {
    width: 6rem;
    height: 2rem;
    border: 0;
    border-radius: 1rem;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6rem;
    cursor: pointer;
    margin: 1.7rem 0 9rem 0;
  }

  .round_area {
    margin: 1rem 2rem 1rem 2rem;
    width: 195px;
    height: 330px;
  }
}
